@using MachineryFleet.Web.Components.Shared
@inherits LayoutComponentBase

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<div class="page">
    <div class="container mt-4">
        <NavMenu />
        <div class="row">

            <!-- Aside for statistics -->
            <aside class="col-md-4 col-lg-3">
                <StatisticsComponent />
            </aside>
            <!-- Main content area -->
            <main class="col-md-8 col-lg-9">
                @Body
            </main>
        </div>
    </div>
</div>
