.logotype {
    font-family: 'Shrikhand', cursive;
}

.footer-logotype {
    font-family: 'Shrikhand', cursive;
    font-size: 0.85rem;
    margin-bottom: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Shrikhand';
}

.img-with-border {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}
section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
section p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  section {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  footer {
    font-size: 0.75rem;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  .section-padding {
    padding: 2rem;
    margin-bottom: 2rem;
}
.row + .row .col-md-6 {
    margin-top: 2rem;
}
.img-section {
    width: 100%; /* Ensure images fill their containers */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Prevent images from exceeding their container's width */
    max-height: 300px; /* Set a maximum height for consistency */
}

.section img {
    margin-bottom: 1rem; /* Add some space between images and content */
}
